* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0rem 0.5rem;
  height: 100vh;
  width: 100%;
  /* background-color: black; */

  @media (width > 500px) {
    max-width: 400px;
    margin: 0 auto;
  }
}

:root {
  --font1: general sans;
}
